<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecomm.application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomePageTest"
        android:usesCleartextTraffic="true">
        <activity android:name=".boundary.ContactSellerUI"></activity>
        <activity
            android:name=".PaymentComplete"
            android:label="@string/title_activity_payment_complete"
            android:theme="@style/Theme.HomePageTest.NoActionBar" />
        <activity
            android:name=".boundary.SearchTestUI"
            android:label="@string/title_activity_search_test_u_i"
            android:theme="@style/Theme.HomePageTest.NoActionBar" />
        <activity
            android:name=".boundary.SearchUI"
            android:label="@string/title_activity_search_u_i"
            android:theme="@style/Theme.HomePageTest.NoActionBar" />
        <activity android:name=".boundary.ProductDisplayUI" /> <!-- <activity -->
        <!-- android:name=".boundary.SearchResultsUI" -->
        <!-- android:label="@string/title_activity_search_results_u_i" -->
        <!-- android:theme="@style/Theme.HomePageTest.NoActionBar" /> -->
        <activity android:name=".boundary.FilterUI" />
        <activity android:name=".boundary.RegisterUI" />
        <activity android:name=".boundary.PaymentUI" />
        <activity android:name=".boundary.ShoppingCartUI" />
        <activity android:name=".boundary.UserProfileUI" />
        <activity android:name=".boundary.LoginUI"> //app starts from this UI
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".boundary.HomePageUI" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>